@import "../../style/data"

@media only screen and (max-width: 991px)
  .cost-calc

    .cost-calc-text

      p
        font-size: 18px

      img
        display: none

      .t

        h2
          font-size: 22px
          margin-bottom: 50px

    .dropdown

      .dropdown-toggle
        font-size: 14px



