@import "../../style/data"

.cost-calc
  padding: 30px 0

  form
    width: 100%
    text-align: center
    padding: 50px
    display: flex
    flex-direction: column
    align-items: center

    input
      display: block
      text-align: center
      outline: none
      max-width: 400px
      width: 100%
      font-size: 18px
      font-weight: 700
      margin-bottom: 10px
      padding: 15px 5px
      transition: .2s
      border: 1px solid rgba(0,0,0,.2)

      &::placeholder
        font-size: 18px
        font-weight: 500

      &:focus
        transition: .2s
        border-color: $orange

    input[type=submit]
      display: block
      outline: none
      max-width: 256px
      margin: 20px auto
      cursor: pointer
      padding: 12px 30px
      font-size: 18px
      font-weight: 700
      border-radius: 2px
      border: 1px solid $orange
      transition: .2s
      color: white
      background-color: $orange

      &:hover
        transition: .2s
        color: $orange
        background-color: transparent

    .input-box
      display: flex
      align-items: center
      justify-content: center
      padding: 0 10px

      input
        max-width: 100px

      p
        text-decoration: underline
        font-size: 18px
        font-weight: 500
        font-style: italic
        background-color: $orange
        padding: 3px
        margin: 0

        span
          font-weight: 700

  .cost-calc-text
    position: relative

    img
      position: absolute
      height: auto
      max-width: 60px
      right: 0
      transform: rotateZ(180deg)

    .t

      h2
        text-decoration: underline

    p
      font-size: 22px
      font-weight: 400

  .dropdown

    .dropdown-toggle
      background-color: white
      color: black
      font-weight: 700
      min-width: 120px
      max-width: 120px

      .dropdown-menu

        div



@import "cost-calc-media"