@import "../../style/data"

.work
  padding: 30px 0

  .work-card
    border: 1px solid rgba(0,0,0,.1)
    padding: 15px
    min-height: 320px

    img
      height: auto
      max-width: 100%

    p
      margin-top: 10px
      padding: 5px
      font-size: 18px
      font-weight: 600
      display: flex
      align-items: center
      justify-content: center
      margin-bottom: 0

  .t

    button
      outline: none
      max-width: 256px
      margin: 20px auto
      cursor: pointer
      padding: 12px 30px
      font-size: 18px
      font-weight: 700
      border-radius: 2px
      border: 1px solid $orange
      transition: .2s
      color: white
      background-color: $orange

      &:hover
        transition: .2s
        color: $orange
        background-color: transparent


@import "work-media"