@import "data"

@media only screen and (max-width: 991px)
  form

    input
      font-size: 14px!important

      &::placeholder
        font-size: 14px!important

    .input-box

      p
        font-size: 14px!important

  .usa-cars-page

    .t

      h3
        font-size: 20px

@media only screen and (max-width: 767px)
  .usa-cars-page

    .t

      h1
        font-size: 38px

      h2
        font-size: 24px