@import "data"

@media only screen and (max-width: 1199px)
  .t

    p
      margin-bottom: 0
      font-size: 16px

    h1
      font-size: 2rem!important

    h2
      font-size: 1.7rem!important
      font-weight: 900

    h3

    h4
      font-size: 1.3rem!important

      span
        font-weight: 900

    h5
      text-align: center




@media only screen and (max-width: 991px)
  form

    input
      font-size: 14px!important

      &::placeholder
        font-size: 14px!important

    .input-box

      p
        font-size: 14px!important

  .usa-cars-page

    .t

      h3
        font-size: 20px

@media only screen and (max-width: 767px)
  .usa-cars-page

    .t

      h1
        font-size: 38px

      h2
        font-size: 24px