@import "../../style/data"

@media only screen and (min-width: 1200px)
  .clients-have

    .clients-have-card

      p
        min-height: 120px

@media only screen and (max-width: 1199px)
  .clients-have

    .clients-have-card
      padding: 10px

      img
        max-width: 100px

      p
        padding: 15px
        margin: 10px 0
        font-size: 14px
        min-height: 95px

@media only screen and (max-width: 1199px)
  .clients-have

    .clients-have-card

      img

      p
        min-height: 116px

@media only screen and (max-width: 575px)
  .clients-have

    .clients-have-card
      max-width: 250px
      margin-left: auto
      margin-right: auto

      img

      p
        min-height: auto