@import '../../style/data'

@media only screen and (min-width: 1200px)
  .navbar
    padding-left: 150px
    padding-right: 150px

    .navbar-nav

@media only screen and (max-width: 991px)
  .navbar

    .navbar-brand

      img
        max-width: 50px

    .navbar-nav
      padding-top: 20px

      .nav-item
        padding: 0
