@import '../../style/data'

.first-scroll
  min-height: 100vh
  padding-top: 100px
  display: flex
  align-items: center
  position: relative

  .btn-down
    cursor: pointer
    outline: none
    position: absolute
    z-index: 3
    bottom: 10px
    left: 50%
    animation: move 1s infinite alternate
    animation-delay: 0s

    img
      height: auto
      width: 50px

    @keyframes move
      0%
        transform: translateX(-50%) translateY(0)

      100%
        transform: translateX(-50%) translateY(-20px)

  .bg
    position: absolute
    z-index: 1
    top: 0
    bottom: 0
    left: 0
    right: 0
    background-color: rgba(0,0,0,.5)

  .bg-img
    position: absolute
    z-index: 0
    top: 0
    bottom: 0
    left: 0
    right: 0
    background-color: rgba(0,0,0,.4)
    background-image: url("../../images/back-first-scroll.jpg")
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    transition: 1s
    transform: scale(1)

  .bg-img-animate
    transition: all 3s
    transform: scale(1.5)

  .t
    margin-bottom: 60px
    max-width: 900px
    background-color: rgba(255, 161, 0, 0.3)
    padding: 30px
    text-shadow: 1px 1px 1px rgba(0,0,0,.7)
    position: relative

    &:before
      position: absolute
      content: ''
      top: -2px
      right: -2px
      left: -2px
      bottom: -2px
      box-shadow: 0 0 0 8px rgba(255, 161, 0, 0.2)

    &:after
      position: absolute
      content: ''
      top: -12px
      right: -12px
      left: -12px
      bottom: -12px
      box-shadow: 0 0 0 8px rgba(255, 161, 0, 0.2)

    h1
      color: white

    h2
      color: white

    h3
      color: white

    h4
      color: white

    h5
      color: white

  .fs-order
    position: relative
    z-index: 50
    text-align: center
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    text-shadow: 1px 1px 1px rgba(0,0,0,.7)

    h4
      color: $orange
      font-size: 40px
      font-weight: 900

    button
      outline: none
      cursor: pointer
      padding: 12px 30px
      font-size: 18px
      font-weight: 700
      border-radius: 2px
      border: 1px solid $orange
      transition: .2s
      color: white
      background-color: $orange

      &:hover
        transition: .2s
        color: $orange
        background-color: rgba(0,0,0,.4)

@import "first-scroll-media"