@import "../../style/data"

@media only screen and (max-width: 1564px)
  .open-form-second

    .ops-t
      right: 37%

@media only screen and (max-width: 1376px)
  .open-form-second

    .ops-t
      right: 40%

@media only screen and (max-width: 1176px)
  .open-form-second

    .ops-t
      right: 45%

@media only screen and (max-width: 1176px)
  .open-form-second

    .ops-t
      right: 50%

@media only screen and (max-width: 991px)
  .open-form-second

    .t
      background-color: rgba(255,255,255,.6)
      box-shadow: 0 0 15px 0 rgba(255,255,255,.7)
      padding: 10px

      h2
        color: black
        text-shadow: 1px 1px 1px rgba(0,0,0,.1)

      p
        color: black

@media only screen and (max-width: 858px)
  .open-form-second

    .ops-t
      right: 55%

@media only screen and (max-width: 780px)
  .open-form-second

    .ops-t
      right: 55%

      h3
        padding: 10px 20px
        font-size: 25px

@media only screen and (max-width: 780px)
  .open-form-second

    .ops-t
      right: 60%


@media only screen and (min-width: 671px)
  .open-form-second

    .ops-t-m
      display: none


@media only screen and (max-width: 670px)
  .open-form-second

    .ops-t
      display: none

    .ops-t-m
      padding: 0!important
      display: flex
      justify-content: center
      right: auto
      left: 50%
      transform: translateX(-50%)

      h3
        margin: 0!important