@import "../../style/data"

@media only screen and (min-width: 512px)
  .comparison

    .comp-prod

      .comp-prod-specifications
        min-width: 382px

@media only screen and (max-width: 1199px)
  .comparison

    .comp-prod
      display: inline-block
      max-width: 440px

      .comp-prod-img
        margin: 0
        width: 100%

      .comp-prod-review
        min-height: auto
        display: block
        margin: 0
        width: 100%
        max-width: 100%

      .comp-prod-specifications
        display: block
        text-align: center
        margin-bottom: 5px

        button
          padding: 12px 20px

        .comp-prod-name
          padding-left: 15px
          transform: translateX(0)
